.grid-menu {
    grid-column: 1 / 13;
    grid-row: 1 / 19;
}

.grid-menu-user {
    border: none;
    color: var(--color-menu-item);
}

.grid-menu-user:hover {
    background-color: var(--bg-color-menu-item-hover);
}

#img-users {
    align-self: center;
    grid-column: 1 / 13;
    grid-row: 1 / 19;
    justify-self: center;
}
